/********* COMMONS ROULES  *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color_grey);
}

li:hover a {
    color: white;
}


/********* UTILITY  *********/

:root {
    --color_barra_laterale: #000000;
    --color_barra_superiore: #080B12;
    --color_barra_inferiore: #282828;
    --color_centro: #141922;
    --color_white: white;
    --color_grey: #7D7F84;
    --size_8: 8px;
    --size_9: 9px;
    --size_10: 10px;
    --size_12: 12px;
    --size_13: 13px;
    --size_14: 14px;
    --size_16: 16px;
    --size_22: 22px;
    --size_23: 23px;
    --size_26: 26px;
    --font_weight_b: bold;
}

.flex {
    display: flex;
}

.fx_drt_col {
    flex-direction: column;
}

.jc_c {
    justify-content: center;
}

.as_c {
    align-self: center;
}

.wrap {
    flex-wrap: wrap;
}

.display {
    display: inline-block;
}

.overflow {
    overflow: auto;
    height: calc(100% - 100px);
}

.radius {
    border-radius: 50%;
}

.m_lf_10 {
    margin-left: 10px;
}

.w_20 {
    width: 20%;
}

.w_60 {
    width: 60%;
}


/********* HEADER  *********/


/********* MAIN  *********/


/*** barre ***/

#site_main {
    height: calc(100vh - 100px);
}

#barra_laterale_sx {
    width: 300px;
    background-color: var(--color_barra_laterale);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
}

#barra_centrale {
    width: calc(100% - 300px);
    background-color: var(--color_centro);
    position: relative;
}

#barra_superiore {
    height: 100px;
    background-color: var(--color_barra_superiore);
    position: relative;
}


/*** contenuto barra di sinistra ***/


/* logo */

#logo_camp img {
    width: 200px;
    height: auto;
}


/* btn */

.home,
.cerca,
.libreria>i {
    color: var(--color_grey);
    font-size: var(--size_13);
    font-weight: var(--font_weight_b);
    margin-top: 20px;
}

.home,
.cerca,
.libreria>a {
    color: var(--color_grey);
    font-size: var(--size_13);
    font-weight: var(--font_weight_b);
    margin-top: 20px;
}


/* playlist */

#playlist>h4 {
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
    color: var(--color_white);
    margin-bottom: 20px;
}

#add_playlist>a>i {
    font-size: 40px;
    color: var(--color_grey);
    vertical-align: middle;
}

#playlist>a:hover .white {
    color: white;
}

#add_playlist>a {
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
    color: var(--color_grey);
}

#nuove_playlist {
    height: 200px;
    overflow: auto;
}

#playlists>li {
    color: var(--color_grey);
    padding: 10px 0;
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}


/* info */

#installa>i {
    color: var(--color_grey);
    font-size: var(--size_12);
    vertical-align: middle;
}

#installa>a {
    color: var(--color_grey);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

#installa:hover .white {
    color: white;
}

.separatore {
    border-bottom: 1px solid grey;
    width: 70%;
    margin: 20px;
}

#user>i {
    color: var(--color_white);
    font-size: var(--size_22);
    vertical-align: middle;
}

#user>div {
    color: var(--color_white);
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
}


/*** contenuto barra main ***/


/** contenuto barra superiore **/

.upgrade {
    color: var(--color_white);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
    background-color: var(--color_barra_superiore);
    border: 1px solid var(--color_white);
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 50px;
}

.upgrade:hover {
    font-size: var(--size_14);
}


/** contenuto barra centrale **/


/* menu */

#menu_c {
    text-align: center;
    margin: 20px;
}

.menu {
    display: inline-block;
}

.menu>a {
    color: var(--color_grey);
    font-size: var(--size_13);
    font-weight: var(--font_weight_b);
    margin-left: 40px;
}

.linea_verde {
    border-bottom: 1px solid greenyellow;
    width: 50%;
}


/* musiche recenti */

.testo_albums {
    color: var(--color_white);
    font-size: var(--size_23);
    font-weight: var(--font_weight_b);
    margin: 30px 15px;
}


/* album */

.album {
    width: 15%;
    height: auto;
    margin-left: 20px;
    position: relative;
}


/* bonus */

.effetto_play {
    position: relative;
}

.effetto_play img {
    width: 100%;
    display: block;
}

.play {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.play>i {
    font-size: 70px;
    align-self: center;
}

.effetto_play:hover .play {
    visibility: visible;
}


/* /.bonus */

.testo_album {
    color: var(--color_white);
    text-align: center;
    font-size: var(--size_16);
    font-weight: var(--font_weight_b);
    margin: 10px;
}

.sottotesto_album {
    color: var(--color_grey);
    text-align: center;
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

.sottotesto {
    color: var(--color_grey);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}


/********* FOOTER  *********/

#barra_inferiore {
    width: 100%;
    height: 100px;
    background-color: var(--color_barra_inferiore);
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}


/* barra di sx */

#flex1 {
    flex-grow: 2;
}

#flex2,
#flex3 {
    flex-grow: 1;
}

#img_barra_inferiore {
    width: 60px;
    height: 60px;
}

.testo_barra_inferiore {
    color: var(--color_white);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

.sottotesto_barra_inferiore {
    color: var(--color_grey);
    font-size: var(--size_9);
    font-weight: var(--font_weight_b);
}

.icone_barra_inferiore_col_sx {
    color: grey;
}

.icone_barra_inferiore_col_sx:hover i {
    color: white;
}

.icone_barra_inferiore_col_sx>i {
    margin-left: 20px;
}


/* barra centrale */

.barra_centrale_inferiore {
    width: 80%;
    height: 100px;
    justify-content: space-around;
}

#flex4,
#flex6 {
    flex-grow: 2;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

#flex5 {
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: center;
}

.barra_centrale_inferiore_su {
    width: 50%;
    align-self: center;
    color: var(--color_white);
    font-size: var(--size_22);
}

.circle {
    font-size: var(--size_26);
}

#flex5:hover .circle {
    font-size: 30px;
}

.barra_centrale_inferiore_giu {
    width: 80%;
    justify-content: space-around;
    align-self: center;
}

.min {
    color: var(--color_white);
    font-size: var(--size_10);
    width: 10%;
    display: flex;
    justify-content: center;
}

.barra_scorrimento {
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: grey;
    border-radius: 10px;
    height: 5px;
}


/* barra di dx */

#col_dx {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.icone_barra_inferiore_dx {
    display: flex;
    width: 50%;
    justify-content: space-around;
    color: var(--color_grey);
}

.icone_barra_inferiore_dx:hover i {
    color: white;
}

#barra_scorrimento_col_dx {
    display: flex;
    align-self: center;
    width: 50%;
}

.barra_volume {
    width: 100px;
    background-color: grey;
    border-radius: 10px;
    height: 5px;
}


/********* MEDIA QUERIS  *********/

@media screen and (min-width: 1024px) {
    /********* MAIN  *********/
    /*** barre ***/
    #site_main {
        height: calc(100vh - 80px);
    }
    #barra_laterale_sx {
        width: 200px;
        padding-left: 20px;
    }
    #barra_centrale {
        width: calc(100% - 200px);
    }
    #barra_superiore {
        height: 80px;
    }
    #barra_inferiore {
        width: 100%;
        height: 80px;
    }
    .barra_centrale_inferiore {
        width: 80%;
        height: 80px;
    }
    /* logo */
    #logo_camp img {
        width: 150px;
        height: auto;
    }
    /** contenuto barra superiore **/
    .upgrade {
        padding: 15px;
        top: 15px;
    }
    .testo_album {
        font-size: var(--size_14);
    }
}

@media screen and (max-width: 768px) {
    /********* MAIN  *********/
    /*** barre ***/
    #site_main {
        height: calc(100vh - 60px);
    }
    #barra_laterale_sx {
        width: 200px;
        height: 100%;
        padding-left: 20px;
    }
    #barra_centrale {
        width: calc(100% - 200px);
        height: 100%;
    }
    #barra_superiore {
        height: 60px;
    }
    #barra_inferiore {
        width: 100%;
        height: 60px;
    }
    .barra_centrale_inferiore {
        width: 80%;
        height: 60px;
    }
    .albums {
        flex-wrap: wrap;
    }
    /* logo */
    #logo_camp img {
        width: 100px;
    }
    /** contenuto barra superiore **/
    .upgrade {
        padding: 10px;
        top: 10px;
    }
    /* menu */
    .menu>a {
        font-size: var(--size_9);
        margin-left: 20px;
    }
    /* album */
    .testo_albums {
        font-size: var(--size_16);
    }
    .sottotesto {
        font-size: var(--size_10);
    }
    .testo_album {
        font-size: var(--size_10);
        margin: 10px 0;
    }
    .sottotesto_album {
        font-size: var(--size_9);
    }
    /* col_sx playlist */
    #add_playlist>a>i {
        font-size: 30px;
    }
    #add_playlist>a {
        font-size: var(--size_12);
    }
    .overflow {
        height: calc(100% - 80px);
    }
}

@media screen and (max-width: 320px) {
    /********* MAIN  *********/
    /*** barre ***/
    #site_main {
        height: calc(100vh - 60px);
    }
    #barra_laterale_sx {
        width: 50px;
        height: 100%;
        padding-left: 10px;
    }
    #barra_centrale {
        width: calc(100% - 50px);
        height: 100%;
    }
    #barra_superiore {
        height: 60px;
    }
    #barra_inferiore {
        width: 100%;
        height: 60px;
    }
    .barra_centrale_inferiore {
        width: 80%;
        height: 60px;
    }
    /* contenuto barra laterale sx */
    #logo_camp {
        background: url(../img/logo-small.svg);
        background-repeat: no-repeat;
        margin-top: 50px;
        font-size: 25px;
    }
    #logo_camp img {
        visibility: hidden;
    }
    #btn_principali {
        margin-top: 35px;
    }
    .home>a,
    .cerca>a,
    .libreria>a {
        visibility: hidden;
    }
    .home>i,
    .cerca>i,
    .libreria>i {
        padding: 0 3px;
        font-size: 20px;
    }
    #playlist_camp,
    #info_camp {
        visibility: hidden;
    }
    /** contenuto barra superiore **/
    .upgrade {
        font-size: var(--size_9);
        padding: 10px;
        top: 10px;
        right: 20px;
    }
    /* menu */
    #menu_c {
        text-align: center;
        margin: 20px 0;
    }
    .menu>a {
        font-size: var(--size_8);
        margin-left: 5px;
    }
    /* album */
    .albums {
        flex-wrap: wrap;
    }
    .album {
        width: 45%;
        margin-left: 10px;
    }
    .testo_albums {
        font-size: var(--size_14);
    }
    .sottotesto {
        font-size: var(--size_8);
    }
    /* barra sx playing */
    #img_barra_inferiore {
        width: 30px;
        height: 30px;
    }
    .testo_barra_inferiore {
        font-size: var(--size_10);
    }
    .sottotesto_barra_inferiore {
        font-size: var(--size_8);
    }
    #flex3 {
        visibility: hidden;
    }
    .testo_album {
        font-size: var(--size_9);
        margin: 10px 0;
    }
    .sottotesto_album {
        font-size: var(--size_8);
    }
    /* col_sx playlist */
    .barra_centrale_inferiore_su {
        justify-content: center;
    }
    #add_playlist>a>i {
        font-size: 30px;
    }
    #add_playlist>a {
        font-size: var(--size_12);
    }
    .s {
        visibility: hidden;
    }
    #flex5 {
        margin: 0 5px;
    }
    .barra_scorrimento {
        width: 50%;
    }
    .icone_barra_inferiore_dx {
        width: 20%;
        justify-content: flex-end;
    }
    #barra_scorrimento_col_dx {
        width: 65%;
    }
    .barra_volume {
        width: 40px;
    }
    .overflow {
        height: calc(100% - 60px);
    }
}