/********* COMMONS ROULES  *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}


/********* UTILITY  *********/

:root {
    --color_barra_laterale: #000000;
    --color_barra_superiore: #080B12;
    --color_barra_inferiore: #282828;
    --color_centro: #141922;
    --color_white: white;
    --color_grey: #7D7F84;
    --size_9: 9px;
    --size_10: 10px;
    --size_12: 12px;
    --size_13: 13px;
    --size_14: 14px;
    --size_16: 16px;
    --size_22: 22px;
    --size_23: 23px;
    --font_weight_b: bold;
}

.flex {
    display: flex;
}

.fx_drt_col {
    flex-direction: column;
}

.jc_c {
    justify-content: center;
}

.as_c {
    align-self: center;
}

.wrap {
    flex-wrap: wrap;
}

.display {
    display: inline-block;
}

.overflow {
    overflow: auto;
    height: calc(100% - 100px);
}

.radius {
    border-radius: 50%;
}

.m_lf_10 {
    margin-left: 10px;
}

.w_20 {
    width: 20%;
}

.w_60 {
    width: 60%;
}


/********* HEADER  *********/


/********* MAIN  *********/


/*** barre ***/

#site_main {
    height: calc(100vh - 100px);
}

#barra_laterale_sx {
    width: 300px;
    background-color: var(--color_barra_laterale);
    justify-content: space-between;
}

#barra_centrale {
    width: calc(100% - 300px);
    background-color: var(--color_centro);
    position: relative;
}

#barra_superiore {
    height: 100px;
    background-color: var(--color_barra_superiore);
    position: relative;
}


/*** contenuto barra di sinistra ***/

#barra_laterale_sx {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
}


/* img */

#logo_camp img {
    width: 200px;
    height: auto;
}


/* btn */

.home,
.cerca,
.libreria {
    color: var(--color_grey);
    font-size: var(--size_13);
    font-weight: var(--font_weight_b);
    margin-top: 20px;
}


/* playlist */

#playlist>h4 {
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
    color: var(--color_white);
    margin-bottom: 20px;
}

#add_playlist>i {
    font-size: 40px;
    color: var(--color_grey);
    vertical-align: middle;
}

#add_playlist>div {
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
    color: var(--color_grey);
}

#nuove_playlist {
    height: 200px;
    overflow: auto;
}

#playlists>li {
    color: var(--color_grey);
    padding: 10px 0;
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}


/* info */

#installa>i {
    color: var(--color_grey);
    font-size: var(--size_12);
    vertical-align: middle;
}

#installa>div {
    color: var(--color_grey);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

.separatore {
    border-bottom: 1px solid grey;
    width: 70%;
    margin: 20px;
}

#user>i {
    color: var(--color_white);
    font-size: var(--size_22);
    vertical-align: middle;
}

#user>div {
    color: var(--color_white);
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
}


/*** contenuto barra main ***/


/** contenuto barra superiore **/

.upgrade {
    color: var(--color_white);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
    background-color: var(--color_barra_superiore);
    border: 1px solid var(--color_white);
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 50px;
}

.upgrade:hover {
    font-size: var(--size_14);
}


/** contenuto barra centrale **/


/* menu */

#menu {
    text-align: center;
    margin: 20px;
}

#menu>li {
    display: inline-block;
    color: var(--color_grey);
    font-size: var(--size_13);
    font-weight: var(--font_weight_b);
    margin-left: 40px;
}


/* musiche recenti */

.testo_albums {
    color: var(--color_white);
    font-size: var(--size_23);
    font-weight: var(--font_weight_b);
    margin: 30px 15px;
}


/* album */

.album {
    width: 15%;
    height: auto;
    margin-left: 20px;
}

.album img {
    height: 177px;
    width: 177px;
}

.testo_album {
    color: var(--color_white);
    text-align: center;
    font-size: var(--size_16);
    font-weight: var(--font_weight_b);
    margin: 10px;
}

.sottotesto_album {
    color: var(--color_grey);
    text-align: center;
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

.sottotesto {
    color: var(--color_grey);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}


/********* FOOTER  *********/

#barra_inferiore {
    width: 100%;
    height: 100px;
    background-color: var(--color_barra_inferiore);
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}


/* barra di sx */

#col_sx {
    justify-content: space-around;
}

#img_barra_inferiore {
    width: 60px;
    height: 60px;
}

.testo_barra_inferiore {
    color: var(--color_white);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

.sottotesto_barra_inferiore {
    color: var(--color_grey);
    font-size: var(--size_9);
    font-weight: var(--font_weight_b);
}

.icone_barra_inferiore_col_sx {
    margin-left: 20px;
    color: grey;
}

.icone_barra_inferiore_col_sx>i {
    margin-left: 20px;
}


/* barra centrale */

.barra_centrale_inferiore {
    width: 80%;
    height: 100px;
    justify-content: space-around;
}

.barra_centrale_inferiore_su {
    width: 50%;
    justify-content: space-around;
    align-self: center;
    color: var(--color_white);
    font-size: var(--size_22);
}

.barra_centrale_inferiore_giu {
    width: 80%;
    justify-content: space-around;
    align-self: center;
}

.min {
    color: var(--color_white);
    font-size: var(--size_10);
    width: 10%;
    display: flex;
    justify-content: center;
}

.barra_scorrimento {
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: grey;
    border-radius: 10px;
    height: 10px;
}


/* barra di dx */

#col_dx {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.icone_barra_inferiore_dx {
    display: flex;
    width: 50%;
    justify-content: space-around;
    color: var(--color_grey);
}

#barra_scorrimento_col_dx {
    display: flex;
    align-self: center;
    width: 50%;
}

.barra_volume {
    width: 100px;
    background-color: grey;
    border-radius: 10px;
    height: 5px;
}


/********* MEDIA QUERIS  *********/