/********* COMMONS ROULES  *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}


/********* UTILITY  *********/

:root {
    --color_barra_laterale: #000000;
    --color_barra_superiore: #080B12;
    --color_barra_inferiore: #282828;
    --color_centro: #141922;
    --color_white: white;
    --color_grey: #7D7F84;
    --size_9: 9px;
    --size_12: 12px;
    --size_13: 13px;
    --size_14: 14px;
    --size_16: 16px;
    --size_22: 22px;
    --size_23: 23px;
    --font_weight_b: bold;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
}

.as_c {
    align-self: center;
}

.wrap {
    flex-wrap: wrap;
}

.display {
    display: inline-block;
}

.overflow {
    overflow: auto;
    height: calc(100vh - 100px);
}

.radius {
    border-radius: 100px;
}

.w_20 {
    width: 20%;
}

.w_60 {
    width: 60%;
}


/********* HEADER  *********/


/********* MAIN  *********/


/* barre */

#barra_laterale_sx {
    width: 20%;
    height: calc(100vh - 100px);
    background-color: var(--color_barra_laterale);
    position: relative;
}

#barra_centrale {
    width: 80%;
    height: calc(100vh - 100px);
    background-color: var(--color_centro);
    position: relative;
}

#barra_superiore {
    width: 100%;
    height: 100px;
    background-color: var(--color_barra_superiore);
    position: relative;
}


/* contenuto barra di sinistra */

#barra_laterale_sx img {
    width: 250px;
    height: auto;
    padding: 20px 40px;
}

.home,
.cerca,
.libreria {
    color: var(--color_grey);
    padding: 10px 40px;
    font-size: var(--size_13);
    font-weight: var(--font_weight_b);
}

#playlist>h4 {
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
    color: var(--color_white);
    padding: 20px 40px 10px;
}

#add_playlist>i {
    font-size: 40px;
    color: var(--color_grey);
    padding: 10px 0 10px 40px;
    vertical-align: middle;
}

#add_playlist>div {
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
    color: var(--color_grey);
    padding: 10px 40px 10px 10px;
}

#nuove_playlist {
    width: 100%;
    height: 200px;
    overflow: auto;
}

#playlists>li {
    color: var(--color_grey);
    padding: 10px 40px;
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

#installa {
    position: absolute;
    bottom: 60px;
    left: 40px;
}

#installa>i {
    color: var(--color_grey);
    font-size: var(--size_12);
    vertical-align: middle;
}

#installa>div {
    color: var(--color_grey);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
    padding: 0 0 25px 10px;
}

.separatore {
    border-bottom: 1px solid grey;
    width: 70%;
    margin: 20px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

#user {
    position: absolute;
    bottom: 5px;
    left: 40px;
}

#user>i {
    color: var(--color_white);
    font-size: var(--size_22);
    vertical-align: middle;
}

#user>div {
    color: var(--color_white);
    font-size: var(--size_14);
    font-weight: var(--font_weight_b);
    padding: 0 0 15px 10px;
}


/* contenuto barra centrale */


/* menu */

#menu_centrale {
    width: 75%;
    height: auto;
    margin: 20px auto;
}

#menu {
    text-align: center;
}

#menu>li {
    display: inline-block;
    color: var(--color_grey);
    font-size: var(--size_13);
    font-weight: var(--font_weight_b);
    margin-left: 40px;
}


/* musiche recenti */

.testo_albums {
    color: var(--color_white);
    font-size: var(--size_23);
    font-weight: var(--font_weight_b);
    margin: 30px 15px;
}


/* album */

.album {
    width: 15%;
    height: auto;
    margin-left: 20px;
}

.testo_album {
    color: var(--color_white);
    text-align: center;
    font-size: var(--size_16);
    font-weight: var(--font_weight_b);
    margin: 10px;
}

.sottotesto_album {
    color: var(--color_grey);
    text-align: center;
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}

.sottotesto {
    color: var(--color_grey);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
}


/* contenuto barra superiore */

.upgrade {
    color: var(--color_white);
    font-size: var(--size_12);
    font-weight: var(--font_weight_b);
    background-color: var(--color_barra_superiore);
    border: 1px solid var(--color_white);
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 50px;
    transition: all 1s linear;
}

.upgrade:hover {
    font-size: var(--size_14);
}


/********* FOOTER  *********/

#barra_inferiore {
    width: 100%;
    height: 100px;
    background-color: var(--color_barra_inferiore);
    position: absolute;
    bottom: 0;
}

.barra {
    width: 100%;
    height: 100px;
}


/* barra di sx */

#img_barra_inferiore {
    width: 80px;
    height: 80px;
}


/********* MEDIA QUERIS  *********/